.dropdown-select{
    width: 400px;
    padding: 10px;
    margin-bottom:10px ;
}
.dropdown-container{
    margin: auto;
}

@media screen and (max-width:600px) {
    .dropdown-select{
        max-width: 250px;
    }
}