.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #38497E;
}
.header-navbar-list{
    display: flex;
    flex-direction: row;
}
.title{
    color: white;
    padding-left: 20px;
}
.navbar-link{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}
.navbar-list-items{
    list-style: none;
    align-items: flex-end;

}
.navbar-icon{
    visibility: hidden;
}
.navbar-content{
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}
.navbar-links-separator{
    color: white;
}
@media screen and (max-width:600px) {
    .title{
        font-size: 25px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .header-container{
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }
    .navbar-content{
        padding: 0px;
        width: 100%;
        justify-content: center;
    }
    .header-navbar-list{
        margin-top: 0px;
        padding-left: 0;
    }
}